/* .box {
    position: relative;
    width: 200px;
    height: 300px;
    margin: auto;
    border: 2px solid grey;
    background-color: green;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 100px;
    transition: all .5s, ease-out;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: .5s, ease-out;
}
.green-box{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #96ff0d;
    animation: green-box 3s infinite;
    top: 0;
    left: 0;
}
.red-box{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ff0707;
    animation: red-box 3s infinite;
    top: 0;
    left: 0;
} */


.box{
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
    transition: all ease-in .7s;
    background-color: #96ff0d;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: all ease-in .7s;
}
.image1{
    transform: translateY(0px);
}
.image2{
    transform: translateY(0px);
}
.green-box{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #96ff0d;
    animation: boxanim 3s infinite;
    top: 0;
    left: 0;
}
.red-box{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ff0707;
    animation: boxanim2 3s infinite;
    top: 0;
    left: 0;
}
@keyframes red-box{
    0%{
        margin-left: 0;
        margin-top: 0;
     }
 
     25%{
         margin-left: 1000px;
         margin-top: 0;
         
     }
     50%{
         margin-left: 1000px;
         margin-top: 500px;
         
     }
     75%{
         margin-left: 0;
         margin-top: 500px;
        
     }
     100%{
         margin-left: 0;
         margin-top: 0;
         
     }
}